<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/bootstrap.min.css}">

    <title>Error</title>
</head>

<body class="p-3 mb-2 bg-light text-black">
<div class="container justify-content-center w-50 p-3" style="margin-top: 5em;">
    <div>
        <h1 class="display-5">403 Error</h1>
        <span>It seems like the request you made did not fit our expectations. Click <a th:href="@{/home}">here</a> to go back to Home.</span>
    </div>
</div>
</body>

</html>